include mixins/icon

doctype html
html(lang=getLocale())
  head
    title= __('layout.title')
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="Title", content=__('layout.title'))
    meta(name="description", content=__('layout.description'))
    //- meta(name="keywords", content="emailing responsive, éditeur email, editeur emailing, éditeur template email, éditeur newsletter")
    //- meta(name="author", content="VOXmail")
    //- meta(name="application-name", content="Badsender Email Builder")
    //- meta(property="og:title", content="Badsender Email Builder")
    //- meta(property="og:image", content="http://agence.badsender.com/wp-content/uploads/2014/09/logo_badsender_154x118.png")
    //- meta(property="og:description", content="Editeur graphique de templates email par Badsender")
    //- meta(property="og:url", content="http://agence.badsender.com")
    //- meta(property="og:type", content="website")

    //- link(rel="canonical", href="http://agence.badsender.com")

    //- link(rel="shortcut icon", href="/favicon.png", type="image/png")
    //- link(rel="icon", href="/favicon.png", type="image/png")

    //- link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/db-construct.css")

  body(class="page-" + pageName)
    header
      a.logo(href="/")
        img(src="/assets/logo-outline.svg", width="230", height="80")
      input#toggle-menu(type="checkbox")
      label(for="toggle-menu")
        +icon('menu')
        +icon('close')
      nav
        a(href="/", class= pageName == 'home' ? 'is-selected' : '')= __('menu.home')
        a(href="/projects", class= pageName == 'projects' ? 'is-selected' : '')= __('menu.projects')
        a(href="/process", class= pageName == 'process' ? 'is-selected' : '')= __('menu.process')
        a(href="/faq", class= pageName == 'faq' ? 'is-selected' : '')= __('menu.faq')
        a(href="/contact", class= pageName == 'contact' ? 'is-selected' : '')= __('menu.contact')
        if (getLocale() == 'en')
          a(href="?lang=th") TH
        else
          a(href="?lang=en") EN

    main(role="main")
      block content
    footer
      | DB construct ©2016

    .demo-grid: ul
      li
      li
      li

    script(src="/db-construct.js")
