include mixins/icon

doctype html
html(lang=getLocale())
  head
    title= __('layout.title')
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="Title", content=__('layout.title'))
    meta(name="description", content=__('layout.description'))
    //- meta(name="keywords", content="emailing responsive, éditeur email, editeur emailing, éditeur template email, éditeur newsletter")
    //- meta(name="author", content="VOXmail")
    //- meta(name="application-name", content="Badsender Email Builder")
    //- meta(property="og:title", content="Badsender Email Builder")
    //- meta(property="og:image", content="http://agence.badsender.com/wp-content/uploads/2014/09/logo_badsender_154x118.png")
    //- meta(property="og:description", content="Editeur graphique de templates email par Badsender")
    //- meta(property="og:url", content="http://agence.badsender.com")
    meta(property="og:type", content="website")

    //- link(rel="canonical", href="http://agence.badsender.com")

    //- link(rel="shortcut icon", href="/favicon.png", type="image/png")
    //- link(rel="icon", href="/favicon.png", type="image/png")

    //- meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    //- only specify initial-scale
    //- http://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972
    meta(name="viewport", content="initial-scale=1")
    link(rel="stylesheet", href="/db-construct.css")

  body(class="page-" + pageName)
    header.main-header
      a.logo(href="/")
        +svg-image('logo-outline')
      input#toggle-menu(type="checkbox")
      label.toggle-menu(for="toggle-menu")
        +icon('menu')
        +icon('close')
      nav
        a(href="/", class= pageName == 'home' ? 'is-selected' : '')= __('menu.home')
        a(href="/projects", class= pageName == 'projects' ? 'is-selected' : '')= __('menu.projects')
        a(href="/process", class= pageName == 'process' ? 'is-selected' : '')= __('menu.process')
        a(href="/faq", class= pageName == 'faq' ? 'is-selected' : '')= __('menu.faq')
        a(href="/contact", class= pageName == 'contact' ? 'is-selected' : '')= __('menu.contact')
        - var lang = getLocale() == 'en' ? 'th' : 'en'
        a(href="?lang=#{lang}")
          +svg-image('flag-' + lang)


    main(role="main")
      block content
    footer: .in
      .footer
        div.footer-name(data-copyright="D.B. Construct ©2016")
          +svg-image('logo-db-construct-nb')
          p D.B. Edil Construct Co. Ltd <br> Design &amp; build

        dl.footer-contact
          dt
            +icon('mail')
          dd
            a(href="mailto:info@db-construct.com") info@db-construct.com
          dt
            +icon('phone')
          dd
            span= __('contact.phone.en')
            a(href="tel:+33 80 129 0019") +33 80 129 0019
            span= __('contact.phone.th')
            a(href="tel:+33 88 269 2483") +33 88 269 2483
        div.footer-adress
          | 186/50 Chonlada Soi 8 Moo 6
          br
          | T. Nonghai Sansai Chiang Mai 50 290

      p.copyright D.B. Construct ©2016

    .demo-grid: ul
      li
      li
      li

    script(src="/db-construct.js")
