extends _layout.jade

block content
  h1.page-title= __('menu.contact')

  .contact
    dl
      dt= __('contact.mail')
      dd: a(href="mailto:info@db-construct.com") info@db-construct.com
      dt= __('contact.phone.title')
      dd
        p
          span= __('contact.phone.en')
          | :&nbsp;
          a(href="tel:+33 80 129 0019") +33 80 129 0019
        p
          span= __('contact.phone.th')
          | :&nbsp;
          a(href="tel:+33 88 269 2483") +33 88 269 2483
      dt= __('contact.find')
      dd: a(href="https://www.facebook.com/Dbedil-622360387786880/", target="_blank")
        +svg-image('logo-facebook')

    form(action="/contact", method="post")
      legend= __('contact.form.title')
      label(for="name")= __('contact.form.name')
      input(name="name", id="name", required)
      label(for="email")= __('contact.form.email')
      input(name="email", id="email", type="email", required)
      label(for="phone")= __('contact.form.phone')
      input(name="phone", id="phone")
      label(for="message")= __('contact.form.message')
      textarea(name="message", id="message", required)
      button(type="submit")= __('contact.form.submit')
      p.alert.alert-error.js-error(class= messages.error ? "is-visible" : "")
        +icon('warning')
        span #{__('contact.alert.error')}&nbsp;
        a(href="mailto:info@db-construct.com") info@db-construct.com
      p.alert.alert-success.js-success(class= messages.success ? "is-visible" : "")
        +icon('send')
        span #{__('contact.alert.success')}
      p.alert.alert-process.js-process
        +icon('process')
        span #{__('contact.alert.process')}


  h1= __('contact.address')
  .address
    p.js-address
      | #{__('address.line-1')}
      br
      | #{__('address.line-2')}

    .map.js-map
      //- img(src="/image/400x300")


