extends _layout.jade

block content
  h1= __('faq.intro')
  dl
    dt= __('faq.commercial.title')
    dd= __('faq.commercial.description')

    dt= __('faq.legal.title')
    dd= __('faq.legal.description')

    dt= __('faq.assistance.title')
    dd= __('faq.assistance.description')

    dt= __('faq.cost.title')
    dd= __('faq.cost.description')

    dt= __('faq.quality.title')
    dd= __('faq.quality.description')

    dt= __('faq.deadlines.title')
    dd= __('faq.deadlines.description')
