extends _layout.jade

block content
  #carrousel
    h1
      | #{__('home.baseline.1')}
      strong= __('home.baseline.2')
    ul.carrousel
      li: img(src="/image/1400x600")
      li: img(src="/image/1400x600")
      li: img(src="/image/1400x600")
      li: img(src="/image/1400x600")

  .expertise
    h2= __('home.expertise.title')
    dl
      dt
        p= __('home.expertise.1')
      dd: img(src="/image/660x350")
    dl
      dt
        p= __('home.expertise.2')
      dd: img(src="/image/660x350")
    dl
      dt
        p= __('home.expertise.3')
      dd: img(src="/image/660x350")
    dl
      dt
        p= __('home.expertise.4')
      dd: img(src="/image/660x350")
