extends _layout.jade

block content
  h1
    | #{__('home.baseline.1')}
    br
    | #{__('home.baseline.2')}

  h2= __('home.expertise.title')
  img(src="/image/300x400")
  ul
    li= __('home.expertise.1')
    li= __('home.expertise.2')
    li= __('home.expertise.3')
    li= __('home.expertise.4')
