extends _layout.jade

block content
  h1 process
  dl
    dt= __('process.planning.title')
    dd= __('process.planning.description')
  dl
    dt= __('process.construction.title')
    dd= __('process.construction.description')
  dl
    dt= __('process.completion.title')
    dd= __('process.completion.description')
  dl
    dt= __('process.interior.title')
    dd= __('process.interior.description')
