extends _layout.jade

block content
  dl
    dt= __('process.planning.title')
    dd= __('process.planning.description')
    dd: ul.carrousel
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")

  dl
    dt= __('process.construction.title')
    dd= __('process.construction.description')
    dd: ul.carrousel
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")

  dl
    dt= __('process.completion.title')
    dd= __('process.completion.description')
    dd: ul.carrousel
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")

  dl
    dt= __('process.interior.title')
    dd= __('process.interior.description')
    dd: ul.carrousel
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")
      li: img(src="/image/675x300")

