extends _layout.jade

block content
  h1= __('projects.' + project.name + '.title')
  ul.project-content.js-grid
    //- description
    li.project-description.grid-item.grid-item--width2: ul
      for point in __('projects.' + project.name + '.description').split('\n')
        li= point
    //- images
    //- source(media="(max-width: 640px)" srcset="/image/600x450 1x, /image/1200x900 2x")
    //- img(src="/image/600x350", srcset="/image/600x350 1x, /image/1200x700 2x")
    - var image = 0;
    while image < project.images
      - image++;
      li.project-image.grid-item: img(src='/images/project/#{project.name}/#{project.name}-#{image}.jpg',
      srcset="/images/project/#{project.name}/#{project.name}-#{image}.jpg 1x, /images/project/#{project.name}/#{project.name}-#{image}@2x.jpg 2x")
