extends _layout.jade

block content
  h1= __('projects.' + project.name + '.title')
  ul.project-content.js-grid
    //- description
    li.project-description.grid-item.grid-item--width2: ul
      for point in __('projects.' + project.name + '.description').split('\n')
        li= point
    //- images
    - var image = 0;
    while image < project.images
      - image++;
      li.project-image.grid-item: .image-container
        //- img(src='/images/project/#{project.name}/#{project.name}-#{image}.jpg',
        //- srcset="/images/project/#{project.name}/#{project.name}-#{image}.jpg 1x, /images/project/#{project.name}/#{project.name}-#{image}@2x.jpg 2x")
        +image({
          base: 'project/' + project.name,
          src: project.name + '-' + image,
        })
